# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text
*.s text
*.uvproj text
*.ini text
*.eww text
*.ewp text
*.ewd text
*.html text
*.js text
*.css text
*.txt text

# Denote all files that are truly binary and should not be modified.
*.a binary
*.lib binary
*.bin binary
*.pdf binary
*.chm binary
*.rtf binary
*.png binary