#For Keil
obj/
lst/

#For IAR
Debug/
Release/
settings/

# For GCC
!.cproject
!.project

.lock
.location
.markers
version.ini
.history/
.mylyn/
Packages/
.settings/
RemoteSystemsTempFiles/
Samplecode/*/*/GCC/.metadata/.plugins/*
Samplecode/*/*/packages/
Samplecode/*/GCC/.metadata/.plugins/*
Samplecode/*/packages/

!Samplecode/*/*/GCC/.metadata/.plugins/org.eclipse.core.resources/
!Samplecode/*/*/GCC/.metadata/.plugins/org.eclipse.debug.core/
!Samplecode/*/*/GCC/.metadata/.plugins/org.eclipse.debug.ui/
!Samplecode/*/*/GCC/.metadata/.plugins/org.eclipse.e4.workbench/
!Samplecode/*/*/GCC/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/
!Samplecode/*/GCC/.metadata/.plugins/org.eclipse.core.resources/
!Samplecode/*/GCC/.metadata/.plugins/org.eclipse.debug.core/
!Samplecode/*/GCC/.metadata/.plugins/org.eclipse.debug.ui/
!Samplecode/*/GCC/.metadata/.plugins/org.eclipse.e4.workbench/
!Samplecode/*/GCC/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/

#For OSX
.DS_Store

#Files
*.log
*.dep
*.bak
*.uvgui.*
*.uvopt
*.txt
*.old
*.bin
*.obj
*.orig
*.ok
*~
*.o
*.i
*.lst
*.map
*.d
*.crf
*.axf
*.out
*.pbi
*.cout
*.browse
*.scc
*.ncb

#Large stuff
*.zip
*.gz
*.bz
*.gzip
*.7z
*.rar

!SampleCode/StdDriver/FMC_IAP/IAR/Release/
!SampleCode/StdDriver/FMC_IAP/IAR/Release/Exe/
!SampleCode/StdDriver/FMC_IAP/IAR/Release/Exe/fmc_ld_code.bin
!SampleCode/StdDriver/FMC_IAP/IAR/fmc_ld_code.icf
!SampleCode/StdDriver/FMC_IAP/KEIL/fmc_ld_code.bin
!SampleCode/StdDriver/FMC_IAP/GCC/LDROM_iap.bin
!SampleCode/StdDriver/FMC_MultiWordProgram/IAR/Release/
!SampleCode/StdDriver/FMC_MultiWordProgram/IAR/Release/Exe/
!SampleCode/StdDriver/FMC_MultiWordProgram/IAR/Release/Exe/multi_word_prog.bin
!SampleCode/StdDriver/FMC_MultiWordProgram/IAR/multi_word_prog.icf
!SampleCode/StdDriver/FMC_MultiWordProgram/KEIL/multi_word_prog.bin
!SampleCode/StdDriver/FMC_MultiWordProgram/GCC/multi_word_prog.bin
!SampleCode/StdDriver/CRYPTO_HMAC/IAR/dummy.bin
!SampleCode/StdDriver/CRYPTO_SHA/IAR/dummy.bin
!SampleCode/StdDriver/CRYPTO_HMAC/HMAC_fips198a.rsp
!SampleCode/StdDriver/CRYPTO_HMAC/HMAC_NIST.rsp
!SampleCode/StdDriver/CRYPTO_HMAC/sha_test_vector
!SampleCode/StdDriver/SPIM_RUN_CODE/spim_code.bin
!SampleCode/SecureBoot/HSUSBD_IAP/GCC/fwupdate_ld_iap.bin
!ThirdParty/lwip-2.0.0/doc/contrib.txt
!ThirdParty/lwip-2.0.0/doc/mdns.txt
!ThirdParty/lwip-2.0.0/doc/ppp.txt
!ThirdParty/lwip-2.0.0/doc/rawapi.txt
!ThirdParty/lwip-2.0.0/doc/savannah.txt
!ThirdParty/lwip-2.0.0/doc/sys_arch.txt
!ThirdParty/lwip-2.0.0/src/apps/httpd/makefsdata/readme.txt

