//Microsoft Visual C++ 產生的資源指令碼。
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
// 已從 TEXTINCLUDE 2 資源產生。
//
#include "afxres.h"
/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CHT)
LANGUAGE 4, 1
#pragma code_page(950)


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE  
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE  
BEGIN
    "#include ""afxres.h""\r\n"
    "\0"
END

3 TEXTINCLUDE  
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// 字串資料表
//

STRINGTABLE  
BEGIN
   IDS_APP_TITLE       "HIDTransferTest"
END

#endif
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// 已從 TEXTINCLUDE 3 資源產生。
//
#ifndef _AFXDLL
#include "afxres.rc"
#endif

/////////////////////////////////////////////////////////////////////////////
#endif    // 非 APSTUDIO_INVOKED
